/* .dummy-section{
    display: flex;
    justify-content: center;
} */
/* .featured-items{
    width:100%;

}
.dummyImg{
    width:100%;

}
.features{
    display: flex;
    justify-content: center;
} */