.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2E2F;
    padding-block:1em;
}

.navbar button{
    background-color:#2C2E2F ;
    border: none;
    font-size: 1.2rem;
    color:#c2cfdd;
    cursor: pointer;
}
.left-section{
    padding-inline:2em;
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
    padding-inline:2em;
}