.nav-section{
    display: flex;
    height:15vh;
    background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    align-items: center;
    justify-content: center;
    padding:0 1em;
    position: fixed;
    width:100%;
}

.logo{
  width: 30%;
  object-fit: contain;
}

.right-section{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1em;
  justify-content:center;
  align-items: center;
  background: #fff;
  position: absolute;
  top:15vh;
  box-shadow:2px 1px 2px #eee;
  padding-bottom:1em;
}

.close{
    display: none;
}


li{
    list-style: none; 
    color:#666;
}

.hamburgermenu{
    cursor: pointer;
}

@media (min-width:768px){
   .desktop-sidebar{
    display: none;
   }
}
@media (min-width:1024px){

    .nav-section{
          padding-inline:4em;
          justify-content: space-evenly;
    }
    .right-section{
        width:50%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        box-shadow: none;
        position: relative;
        top:0;
        font-size: 1rem;
        padding-top:2em;
        margin-left:auto;
    }

    .right-section div{
        display: none;
    }

    .desktop-sidebar{
        display: block;
       }
    .logo{
        width: 100%;
        object-fit: contain;
        max-height: 1.06em;
      }
      


}

